<!-- header.component.html -->
<header class="main-header">
  <div class="main-header-content">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Mary AI Logo" />
      <span>Mary AI</span>
    </div>
    <div class="nav-container">
      <nav>
        <ul [class.active]="menuActive">
          <li><a href="#focus" (click)="toggleMenu()">Focus</a></li>
          <li><a href="#portfolio" (click)="toggleMenu()">Portfolio</a></li>
          <li><a href="#about" (click)="toggleMenu()">About</a></li>
          <li><a href="#contact" (click)="toggleMenu()">Contact</a></li>
          <li><a href="#blog" (click)="toggleMenu()">Blog</a></li>
        </ul>
      </nav>
      <div class="theme-toggle" (click)="toggleTheme()">
        <i
          class="fas fa-sun-moon-icon"
          [ngClass]="currentTheme === 'light' ? 'fa-sun' : 'fa-moon'"
        ></i>
      </div>
      <div class="menu-icon" (click)="toggleMenu()">
        <i [class]="menuActive ? 'fas fa-times' : 'fas fa-bars'"></i>
      </div>
    </div>
  </div>
</header>
