<footer class="main-footer" #footerRef>
    <!-- Background image -->
    <img src="assets/images/map.png" alt="World map" class="main-footer-bg-img" #bgImgRef />
  
    <!-- Collaborators section -->
    <div class="collaborators-section">
      <h2 class="collaborators-section__heading" #headingRef></h2>
      
    </div>
  
    <!-- Footer contact and social links -->
    <div class="main-footer-content">
      <div class="contact-links">
        <!-- Address links using Angular routing or direct links -->
        <address class="address-links">
          <a href='https://goo.gl/maps/4AT7R9KFAjWhq3oMA' target="_blank" rel="noreferrer" class="address-links__link">Lebanon, New Hampshire - United States</a>
          <a href="tel:+1(603)-322 0915" class="address-links__link">+1 (802) 526-9226</a>
          <!-- <a href="mailto:contact@minohealth.org" class="address-links__link">contact&#64;maryai.health</a> -->
        </address>
  
        <!-- Social links with Angular material icons or custom SVG/icons -->
        <ul class="social-links">
          <li>
            <a href="https://www.linkedin.com/company/maryai/" target="_blank" rel="noreferrer" class="social-links__link">
              <img src="assets/images/linkedin.svg" alt="LinkedIn">
            </a>
          </li>
        </ul>
      </div>
  
      <!-- Copyright text -->
      <p class="copyright-text">Copyright © Mary AI 2024</p>
    </div>
</footer>
  