<div class="about">
  <h2>ABOUT</h2>
  <h3>THE MINOHEALTH AI STORY</h3>
  <div class="container">
    <div class="about-left-panel">
      <img
        src="assets/images/refugee-child.jpg"
        alt="Tinted Chest Radiograph"
      />
    </div>
    <div class="about-right-panel">
      <div class="about-content">
        <h1>PROBLEM</h1>
        <p>
          Imagine a world where a single doctor is responsible for the care of
          60,000 patients. This is the harsh reality in some African nations,
          where a lack of access to affordable, quality healthcare is a major
          problem. With 9.2 million deaths attributed to communicable and
          non-communicable diseases, the need for early diagnosis and treatment
          is vital. However, the shortage of Radiologists in Africa is a major
          obstacle in achieving this goal. This is a crisis that needs urgent
          attention.
        </p>
        <div class="statistics">
          <div class="stat-section">
            <div class="statistic-item">
              <h4 class="stat-title">Doctor to patient ratio</h4>
              <div class="stat-value">1:11K</div>
              <div class="stat-country">Ghana</div>
            </div>
            <div class="statistic-item">
              <h4 class="stat-title">Doctor to patient ratio</h4>
              <div class="stat-value">1:160K</div>
              <div class="stat-country">Malawi</div>
            </div>
          </div>
          <div class="stat-section">
            <div class="statistic-item">
              <h4 class="stat-title">Radiologist to patient ratio</h4>
              <div class="stat-value">1:100K</div>
              <div class="stat-country">South Africa</div>
            </div>
            <div class="statistic-item">
              <h4 class="stat-title">Radiologist to patient ratio</h4>
              <div class="stat-value">1:800K</div>
              <div class="stat-country">Ghana</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="about-right-panel">
    <div class="about-content">
      <h1>OUR SOLUTION</h1>
      <p>
        We're using Artificial Intelligence (AI) to democratize access to
        quality, affordable healthcare for all. Our AI systems can diagnose,
        forecast, and prognosticate conditions like breast cancer, pneumonia,
        and more.
      </p>
    </div>
  </div>
  <div class="about-left-panel">
    <img src="assets/images/ct-scans.jpg" alt="CT-scans Image" />
  </div>
</div>

<div class="container">
  <div class="about-left-panel">
    <img
      src="assets/images/service_image_4.png"
      alt="Lab Technician"
    />
  </div>
  <div class="about-right-panel">
    <div class="about-content">
      <h1>RESEARCH AND THE FUTURE</h1>
      <p>
        Want to be a part of cutting-edge AI research? Join the team at
        minoHealth AI Labs. We're using AI to transform fields like
        biotechnology, neuroscience, oncology, and more to save and improve
        lives. Our research has been featured in prestigious publications like
        the book 'Advances in Information and Communication' and the Journal of
        Industry-University Collaboration. Be a part of the future of healthcare
        and join us in revolutionizing the field with AI.
      </p>
    </div>
  </div>
</div>
