.about, .solution {
  padding-inline: clamp(1.25em, calc(0.25em + 3vw), 3em);
  padding-bottom: 4em;
  max-width: var(--max-content-width);
  overflow: hidden;
  margin-inline: auto;
}

@media (max-width: 60rem) {
  .about {
    padding-inline: clamp(3em, calc(1.5em + 4vw), 5em);
  }

  .about {
    padding-inline: 1rem;
  }

  .about > h3 {
    font-size: 1rem;
  }
}

.about h2 {
  text-align: left;
  margin-top: 20px;
  color: var(--clr-text-primary);
  padding-bottom: 20px;
}

.about h3 {
  color: #707070;
  font-size: 2rem;
  margin-block: 1rem;
  font-weight: 500;
}

.about-container, .solution {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  overflow: hidden;
}

.about-left-panel, .about-right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 20px;
}

.about-left-panel img {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
  margin-top: 1.5rem;
}

.about-right-panel .about-content {
  text-align: left;
  font-size: 1rem;
}

h1 {
  font-size: clamp(2rem, calc(0.25em + 3vw), 3rem);
  font-weight: 600;
  word-wrap: break-word;
}

h2 {
  font-size: clamp(1.7rem, calc(0.25em + 3vw), 2.5rem);
  font-weight: 400;
  word-wrap: break-word;
}

.about-content p {
  margin-bottom: 1.5rem;
}

.border {
  font-weight: 600;
  font-size: 1.2rem;
}

@media (max-width: 60rem) {
  .about-container, .solution {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about > h3 {
    font-size: 0.8rem;
  }

  .about-left-panel {
    order: 2;
  }

  .about-right-panel {
    order: 1;
  }

  .statistics {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .about-left-panel, .about-right-panel {
    padding: 10px;
  }

  .about-container h2 {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .about-right-panel .about-content {
    max-width: 100%;
  }
}
