<div class="about">
  <h2>ABOUT</h2>
  <h3>THE Mary Health AI STORY</h3>
  <div class="container">
    <div class="about-left-panel">
      <img
        src="assets/images/a_boy.jpg"
        alt="Tinted Chest Radiograph"
      />
    </div>
    <div class="about-right-panel">
      <div class="about-content">
        <h1>PROBLEM</h1>
        <p>
          About half of the worldwide population lacks access to essential health services. Billions of people living in low-and-middle income countries have to travel for over two hours to reach medical facilities (WHO)
        </p>
        <p>
          STATISTICS 

83% of the rural population in Sub-Saharan Africa lives more than two hours away from the nearest hospital. 

800 million people spend at least 10% of their household budgets on health expenses with ~100 million pushed into extreme poverty each year due to these costs.  

Many LMICs have as few as 1 doctor per 10,000 people.
        </p>
        <!-- <div class="statistics">
          <div class="stat-section">
            <div class="statistic-item">
              <h4 class="stat-title">Doctor to patient ratio</h4>
              <div class="stat-value">1:11K</div>
              <div class="stat-country">Ghana</div>
            </div>
            <div class="statistic-item">
              <h4 class="stat-title">Doctor to patient ratio</h4>
              <div class="stat-value">1:160K</div>
              <div class="stat-country">Malawi</div>
            </div>
          </div>
          <div class="stat-section">
            <div class="statistic-item">
              <h4 class="stat-title">Radiologist to patient ratio</h4>
              <div class="stat-value">1:100K</div>
              <div class="stat-country">South Africa</div>
            </div>
            <div class="statistic-item">
              <h4 class="stat-title">Radiologist to patient ratio</h4>
              <div class="stat-value">1:800K</div>
              <div class="stat-country">Ghana</div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="about-right-panel">
    <div class="about-content">
      <h2>OUR SOLUTION</h2>
      <p>
        Like M-PESA or MTN Mobile Money did for financial services, or like IBM innovated the infrastructure that propelled the personal computing industry, we are bringing quality healthcare closer to people's homes with micro-clinics operated by medical professionals who are empowered with AI and portable diagnostic tools to provide primary care and secondary prevention of disease. 
      </p>
    </div>
  </div>
  <div class="about-left-panel">
    <img src="assets/images/ct-scans.jpg" alt="CT-scans Image" />
  </div>
</div>

<div class="container">
  <div class="about-left-panel">
    <img
      src="assets/images/service_image_4.png"
      alt="Lab Technician"
    />
  </div>
  <div class="about-right-panel">
    <div class="about-content">
      <h2>Our approach is simple</h2>
      <p>
        MaryHealth micro-clinics are modular and can be transported to any part of the world. They provide the physical space for patients to interact with care providers. Care providers have access to our software, AI models, medical equipment, supplies, and the technology needed to provide primary care and secondary prevention of diseases.
      </p>
    </div>
  </div>
</div>
