<div class="about">
  <h1>ABOUT</h1>
  <div class="about-container">
    <div class="about-left-panel">
      <img src="assets/images/a_boy.jpg" alt="Tinted Chest Radiograph" />
    </div>
    <div class="about-right-panel">
      <div class="about-content">
        <h2>PROBLEM</h2>
        <p>
          About half of the worldwide population lacks access to essential
          health services. Billions of people living in low-and-middle income
          countries have to travel for over two hours to reach medical
          facilities (WHO)
        </p>
        <p>
          <span class="border" #count1 data-target="83">0</span> <span class="border">%</span> of the rural population in Sub-Saharan Africa lives more than two
          hours away from the nearest hospital.
        </p>
        <p>
          <span class="border" #count2 data-target="800">0</span> <span class="border"> million people</span> spend at least 10% of their household budgets on
          health expenses with ~100 million pushed into extreme poverty each
          year due to these costs.
        </p>
        <p>
          Many LMICs have as few as 1 doctor per <span class="border" #count3 data-target="10000">0</span><span class="border"> people.</span>
        </p>
      
      </div>
    </div>
  </div>
</div>

<div class="solution">
  <div class="about-right-panel">
    <div class="about-content">
      <h2>OUR SOLUTION</h2>
      <p>
        Like M-PESA or MTN Mobile Money did for financial services, or like IBM
        innovated the infrastructure that propelled the personal computing
        industry, we are bringing quality healthcare closer to people's homes
        with micro-clinics operated by medical professionals who are empowered
        with AI and portable diagnostic tools to provide primary care and
        secondary prevention of disease.
      </p>
    </div>
  </div>
  <div class="about-left-panel">
    <img src="assets/images/hero-section.jpeg" alt="Our Solution" />
  </div>
</div>

<div class="solution">
  <div class="about-left-panel">
    <img src="assets/images/mini-hospital.png" alt="Mini Hospital" />
  </div>
  <div class="about-right-panel">
    <div class="about-content">
      <h2>Our approach is simple</h2>
      <p>
        Mary Health micro-clinics are modular and can be transported to any part
        of the world. They provide the physical space for patients to interact
        with care providers. Care providers have access to our software, AI
        models, medical equipment, supplies, and the technology needed to
        provide primary care and secondary prevention of diseases.
      </p>
    </div>
  </div>
</div>
