<div class="focus-container">
  <div class="focus">
    <h2>Our IDHP Focus:</h2>

    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_1.png" alt="Clinical Decision Support" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>Clinical Decision Support</h1>
        <p>
          Providing healthcare professionals with clinical guidelines, diagnostic tools, and treatment recommendations.
        </p>
      </div>
    </div>
  </div>

  <div class="focus">
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_2.png" alt="AI-Powered Diagnostics" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>AI-Powered Diagnostics</h1>
        <p>
          Utilizing AI Algorithms to analyze medical data in early detection of disease.
        </p>
      </div>
    </div>
  </div>

  <div class="focus">
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_3.png" alt="Clinical Trial Management" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>Clinical Trial Management</h1>
        <p>
          Enables efficient clinical research and trial coordination and research.
        </p>
      </div>
    </div>
  </div>

  <div class="focus">
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_4.png" alt="Health Analytics Platform" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>Health Analytics Platform</h1>
        <p>
          Improving population health outcomes with data analytics.
        </p>
      </div>
    </div>
  </div>

  <div class="focus">
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_1.png" alt="Prescription Management" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>Prescription Management</h1>
        <p>
          Streamlining the dispensing process.
        </p>
      </div>
    </div>
  </div>

  <div class="focus">
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_2.png" alt="Patient Health Records Management" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>Patient Health Records Management</h1>
        <p>
          Ensuring secure storage and easy access of patient health records.
        </p>
      </div>
    </div>
  </div>

  <div class="focus">
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_3.png" alt="Telemedicine" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>Telemedicine</h1>
        <p>
          Providing remote consultations and virtual healthcare services.
        </p>
      </div>
    </div>
  </div>
</div>
