<div class="focus-container">
  <div class="focus">
    <h2>FOCUS</h2>
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_1.png" alt="Tinted Chest Radiograph" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>AI-Powered Diagonostics</h1>
        <p>
          Our software utilizes artificial intelligence algorithms to analyze medical data and images (such as X-rays, CT scans, and MRIs), aiding in the early detection and diagnosis of various conditions and diseases.
        </p>
      </div>
    </div>
  </div>

  <div class="focus">
    <div class="focus-right-panel focus-animate-left" #focusLeftPanel>
      <div class="focus-content">
        <h1>Symptom Assessment</h1>
        <p>
          Our platform allows users to input their symptoms and receive a preliminary assessment of potential health issues, providing guidance on the next steps to take for medical care.
        </p>
      </div>
    </div>
    <div class="focus-left-panel focus-animate-right" #focusRightPanel>
      <img src="assets/images/service_image_2.png" alt="Pathogens Image" />
    </div>
  </div>

  <div class="focus">
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/service_image_3.png" alt="Lab Technician" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>Telemedicine Solutions</h1>
        <p>
          Our technology enables remote consultations and virtual healthcare services, connecting patients with healthcare providers for timely medical advice and guidance, particularly useful in areas with limited access to healthcare facilities.
        </p>
      </div>
    </div>
  </div>
</div>
