<div class="focus-container">
  <div class="focus">
    <h2>FOCUS</h2>
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/tinted-chest-radiograph.png" alt="Tinted Chest Radiograph" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>AI FOR RADIOLOGY</h1>
        <p>
          We developed AI systems for automated diagnostics of 14 chest conditions including pneumonia, fibrosis, hernia, and pleural effusion with chest X-rays, and breast cancer with mammograms. We are currently testing and improving the AI solutions.
        </p>
      </div>
    </div>
  </div>

  <div class="focus">
    <div class="focus-right-panel focus-animate-left" #focusLeftPanel>
      <div class="focus-content">
        <h1>AI FOR INFECTIOUS DISEASES</h1>
        <p>
          We have developed AI systems towards malaria, the screening of COVID-19 as well as Tuberculosis related damages from chest X-Rays. We continue to develop AI solutions towards the many infectious diseases plaguing Africa and the world. We are currently testing and improving the AI solutions.
        </p>
      </div>
    </div>
    <div class="focus-left-panel focus-animate-right" #focusRightPanel>
      <img src="assets/images/pathogens.png" alt="Pathogens Image" />
    </div>
  </div>

  <div class="focus">
    <div class="focus-left-panel focus-animate-left" #focusLeftPanel>
      <img src="assets/images/lab-technician.png" alt="Lab Technician" />
    </div>
    <div class="focus-right-panel focus-animate-right" #focusRightPanel>
      <div class="focus-content">
        <h1>AI FOR BIOMEDICAL RESEARCH</h1>
        <p>
          MinoHealth AI Labs applies Artificial Intelligence to fields including Biotechnology, Oncology, Regenerative Medicine, Neuroscience, Optometry, Epidemiology and Dietetics/Nutrition.
        </p>
      </div>
    </div>
  </div>
</div>
