<section class="info-section">
  <div class="info-section__content">
    <div class="pin-spacer">
      <section class="info-section__sub-section">
        <div class="info-section__sub-section-img-container">
          <img id="benefits-video" src="assets/images/mini-hospital.png" alt="">
          <!-- <video id="usage-video" width="400">
            <source src="assets/videos/usage.mov" type="video/quicktime" />
            <source src="assets/videos/usage.webm" type="video/webm" />
          </video> -->
        </div>
        <div class="info-section__sub-section-content">
          <h3 class="info-section__sub-section-heading">HOW IT WORKS</h3>
          <ol class="fancy-list">
            <li>
              Fill AI form with patient's medical image and information
            </li>
            <li>
              maryai.health analyses the medical image and then provides AI
              diagnostics results
            </li>
          </ol>
        </div>
      </section>
    </div>
    <div class="pin-spacer">
      <section class="info-section__sub-section">
        <div class="info-section__sub-section-img-container">
          <img id="benefits-video" src="assets/images/MicrosoftTeams-image (3).png" alt="">
          <!-- <video id="benefits-video" width="275">
            <source src="assets/videos/patient-history.mov" type="video/quicktime" />
            <source src="assets/videos/patient-history.webm" type="video/webm" />
          </video> -->
        </div>
        <div class="info-section__sub-section-content">
          <h3 class="info-section__sub-section-heading">BENEFITS</h3>
          <ol class="fancy-list">
            <li>
              Fast: Diagnostic Radiology in under 1 minute
            </li>
            <li>
              Accurate: high performance of AI systems
            </li>
            <li>
              Affordable: AI diagnostics at a price accessible to all
            </li>
          </ol>
        </div>
      </section>
    </div>
  </div>
</section>
