<div class="hero-section">
  <div class="hero-section__img-section">
    <div class="hero-section__img-container">
      <img src="assets/images/hero-section.jpeg" alt="Mary Health" class="hero-section__img"/>
    </div>
  </div>
  <div class="hero-section__content-section">
    <div class="hero-section__content">
      <div class="hero-section__heading">
        <h2>
          <span>ENHANCING </span>
          <span>HEALTHCARE </span>
          <span>ACCESSIBILITY</span>
        </h2>
        <!-- <p style="clip-path: none">Bringing healthcare to remote areas</p> -->
      </div>
      <a href="#" target="_blank" rel="noreferrer" class="action-btn">Visit Mary Health's IDHP</a>
    </div>
  </div>
</div>

<section class="static-video">
  <div class="video-wrapper">
      <video class="video" autoplay="true" loop muted>
          <source src="assets/videos/file.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
  </div>

</section>

<div class="main-collaborators-section">
  <!-- Collaborators section -->
  <div class="collaborators-section">
    <h2 class="collaborators-section__heading" #headingRef>COLLABORATORS</h2>
    <div class="collaborators-section__content" #collaboratorsRef>
      <!-- Logos are listed here, update paths as necessary -->
      <img src="assets/images/logos/john-dickey-center.jpg" alt="Bill and Melinda Gates Foundation" class="collaborators-section__img" />
      <img src="assets/images/logos/hassanpour.png" alt="Meta AI" class="collaborators-section__img" />
    </div>
  </div>
</div>


