<div class="hero-section">
  <div class="hero-section__img-section">
    <div class="hero-section__img-container">
      <img src="assets/images/maryai-hero-image.png" alt="Minohealth platform" class="hero-section__img"/>
    </div>
  </div>
  <div class="hero-section__content-section">
    <div class="hero-section__content">
      <div class="hero-section__heading">
        <h2>
          <span>DEMOCRATIZING </span>
          <span>QUALITY </span>
          <span>HEALTHCARE</span>
        </h2>
        <p style="clip-path: none">Bringing healthcare to remote areas</p>
      </div>
      <a href="#" target="_blank" rel="noreferrer" class="action-btn">Visit MaryAI's IDHP</a>
    </div>
  </div>
</div>
<div class="main-collaborators-section">
  <!-- Collaborators section -->
  <div class="collaborators-section">
    <h2 class="collaborators-section__heading" #headingRef>COLLABORATORS</h2>
    <div class="collaborators-section__content" #collaboratorsRef>
      <!-- Logos are listed here, update paths as necessary -->
      <img src="assets/images/imperial-college-logo-white.png" alt="Imperial College" class="collaborators-section__img" />
      <img src="assets/images/euracare-logo-white.png" alt="Euracare" class="collaborators-section__img" />
      <img src="assets/images/ukri-logo-white.png" alt="UK Research and Innovation" class="collaborators-section__img" />
      <img src="assets/images/who-logo-white.png" alt="World Health Organization" class="collaborators-section__img" />
      <img src="assets/images/itu-logo-white.png" alt="International Telecommunication Union" class="collaborators-section__img collaborators-section__img--large" />
      <img src="assets/images/nvidia-inception-logo-white.png" alt="Nvidia Inception Program" class="collaborators-section__img" />
      <img src="assets/images/ai-for-health-logo-white.png" alt="AI for Health" class="collaborators-section__img" />
      <img src="assets/images/bill-melinda-gates-foundation-logo-white.png" alt="Bill and Melinda Gates Foundation" class="collaborators-section__img" />
      <img src="assets/images/meta-ai-logo-white.png" alt="Meta AI" class="collaborators-section__img" />
    </div>
  </div>
</div>


