.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "img-section img-section"
    "content content";
  gap: 2em;
  align-content: center;
  padding-inline: clamp(1.25em, calc(0.25em + 3vw), 3em);
  padding-block: 2em;
  max-width: var(--max-content-width);
  margin-inline: auto;
  overflow-x: hidden;
  --base-height: 45em;
  min-height: min(calc(100vh - var(--page-scroll-padding, 6em)), var(--base-height));
}

@media (min-width: 60rem) {
  .hero-section {
    grid-template-areas: 
      "content img-section"
      "content img-section";
    gap: 1em;
    padding-inline: clamp(2.5em, calc(1.5em + 3.5vw), 4em);
    --base-height: 38em;
  }
}

.hero-section__img-section {
  grid-area: img-section;
  display: grid;
  place-content: center;
}

.hero-section__img-container {
  max-width: max(25em, 60vw);
}

@media (min-width: 60rem) {
  .hero-section__img-container {
    max-width: none;
  }

  .hero-section__img-container img {
    width: auto;
  }
}

.hero-section__content-section {
  grid-area: content;
}

.hero-section__content {
  height: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  text-align: center;
  gap: 1.75em;
  max-width: 72ch;
  margin-inline: auto;
}

@media (min-width: 60rem) {
  .hero-section__content {
    max-width: min(calc(52ch + 5vw), 100%);
    text-align: left;
    justify-items: start;
    margin-left: 0;
  }
}

.hero-section__heading h2 {
  font-size: 1.5rem;
  word-wrap: break-word;
  font-weight: 600;
}

.hero-section__heading p {
  font-size: clamp(1rem, calc(0.75rem + 0.75vw), 1.125rem);
}

@media (min-width: 60rem) {
  .hero-section__heading h2 {
    font-size: clamp(2.25rem, calc(1rem + 2.325vw), 3.25rem);
  }

  .hero-section__heading p {
    font-size: clamp(1.125rem, calc(0.75rem + 0.75vw), 1.75rem);
  }
}

.fda-section {
  max-width: var(--max-content-width);
  margin-inline: auto;
  padding-block: 2rem;
  margin-block: 2rem;
}

.fda-section__banner {
  width: 100%;
}

.static-video {
  margin: 5%;
}

.video-wrapper {
  max-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
}

.video {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


.fda-section video{
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 100px;
}

/* Animation keyframes */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Applying initial state and animation to the image with delay */
/* Animation keyframes */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInFromTop {
  0% {
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}



.hero-section__heading h2 span,
.hero-section__heading p {
  opacity: 0; /* Initial state */
  animation: fadeInFromTop 1s ease-out 1.8s forwards; /* 8s delay before the animation starts, forwards to keep final state */
}


/* Applying initial state and animation to the image with delay */
.hero-section__img-container img {
  opacity: 0; /* Initial state */
  animation: slideIn 1s ease-out 1.6s forwards; /* 8s delay before the animation starts, forwards to keep final state */
}
.action-btn {
  opacity: 0; /* Initial state */
  animation: slideDown 1s ease-out 2s forwards; /* 8s delay before the animation starts, forwards to keep final state */
}


















.main-collaborators-section{
  background-color: #000;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 0;
  max-width: var(--max-content-width);
  margin: auto;
}

.collaborators-section {
  padding-top: 3.5em;
  margin-bottom: 5em;
  background-color: #000a;
}

.collaborators-section__heading {
  font-size: clamp(2rem,calc(1rem + 2.75vw),2.75rem);
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.collaborators-section__content {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding-inline: 1em;
  padding-block: 2em;
  overflow: hidden;
}

.collaborators-section__img {
  height: 6.25em;
  width: auto;
  object-fit: contain;
  object-position: center;
}

.collaborators-section__img--large {
  height: 6.5em;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-inline: 1em;
  margin-bottom: 5em;
}

.address-links {
  display: grid;
  gap: 0.8125em;
}

.address-links__link {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  color: currentColor;
}

.social-links {
  display: flex;
  gap: 3em;
}

.social-links__link {
  display: inline-block;
  color: currentColor;

  transition: color 150ms;
}

.social-links__link:hover,
.social-links__link:focus-visible {
  color: var(--clr-accent);
}

:where(.social-links__link) .icon {
  width: 2.5em;
  height: 2.5em;
}

.copyright-text {
  text-align: center;
  padding-bottom: 2.5em;
}

@media (max-width: 60rem) {
  .collaborators {
    gap: 5em;
  }

  .contact-links {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-inline: 5em;
  }
  
  .copyright-text {
    padding-inline: 5em;
    text-align: left;
  }
  .collaborators-section__content{
    display: flex;
    flex-direction: column;
  }
}

