
.portfolio-container {
    padding-inline: clamp(1.25em, calc(0.25em + 3vw), 3em);
    padding-block: 4em;
    max-width: var(--max-content-width);
    margin-inline: auto;
    overflow: hidden;
}

@media (min-width: 60rem) {
    .portfolio-container {
        padding-inline: clamp(3em, calc(1.5em + 4vw), 5em);
    }
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.portfolio-title {
    margin: 0;
    font-size: clamp(2em, calc(0.25em + 3vw), 3em);
    font-weight: 600;
    word-wrap: break-word;
}

.portfolio-controls {
    display: flex;
    gap: 10px;
}

.carousel-control {
    background-color: #2a2a2a;
    border: none;
    color: var(--clr-text-primary);
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 150ms, transform 150ms;
}

.carousel-control:hover,
.carousel-control:active {
    background-color: #353535;
    transform: scale(1.1);
}
