@import url('./impact.css');
/* Collaborators Section */
.main-collaborators-section {
    background-color: #000;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 0;
    max-width: var(--max-content-width);
    margin: auto;
}

.collaborators-section {
    padding-top: 3.5em;
    margin-bottom: 5em;
    background-color: #000a;
}

.collaborators-section__heading {
    font-size: clamp(2rem, calc(1rem + 2.75vw), 2.75rem);
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.collaborators-section__content {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding-inline: 1em;
    padding-block: 2em;
    overflow: hidden;
}

.collaborators-section__img {
    height: 6.25em;
    width: auto;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 60rem) {
    .collaborators-section__content {
        flex-direction: column;
    }
}

/* Hero Section */
.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "img-section img-section"
        "image-center image-center"
        "content content";
    gap: 2em;
    align-content: center;
    padding-inline: clamp(1.25em, calc(0.25em + 3vw), 3em);
    padding-block: 2em;
    max-width: var(--max-content-width);
    margin-inline: auto;
    overflow-x: hidden;
    --base-height: 45em;
    min-height: min(calc(100vh - var(--page-scroll-padding, 6em)),
            var(--base-height));
}

.image-center-container {
    grid-area: image-center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-center {
    padding-block: 1rem;
    max-width: 600px;
    width: 100%;
    opacity: 0;
    animation: fadeInFromTop 1s ease-out 2s forwards;
}

.hero-section__img {
    width: 100%;
    height: auto;
}

.hero-section__img-container img {
    opacity: 0;
    animation: slideIn 1s ease-out 1.6s forwards;
}

.hero-section__img-section {
    grid-area: img-section;
    display: grid;
    place-content: center;
}

.hero-section__img-container {
    max-width: max(25em, 60vw);
}

@media (min-width: 60rem) {
    .hero-section {
        grid-template-areas:
            "content img-section"
            "image-center image-center";
        gap: 1em;
        padding-inline: clamp(2.5em, calc(1.5em + 3.5vw), 4em);
        --base-height: 38em;
    }

    .hero-section__img-container {
        max-width: none;
    }

    .hero-section__img-container img {
        width: auto;
    }
}

.hero-section__content-section {
    grid-area: content;
}

.hero-section__content {
    height: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
    gap: 1.75em;
    max-width: 72ch;
    margin-inline: auto;
}

@media (min-width: 60rem) {
    .hero-section__content {
        max-width: min(calc(52ch + 5vw), 100%);
        text-align: left;
        justify-items: start;
        margin-left: 0;
    }
}

.hero-section__heading h2 {
    font-size: 1.5rem;
    word-wrap: break-word;
    font-weight: 600;
}

@media (min-width: 60rem) {
    .hero-section__heading h2 {
        font-size: clamp(2.25rem, calc(1rem + 2.325vw), 3.25rem);
    }
}

.hero-section__heading h2 span {
    opacity: 0;
    animation: fadeInFromTop 1s ease-out 1.8s forwards;
}

.action-btn {
    opacity: 0;
    animation: slideDown 1s ease-out 2s forwards;
}

/* Mobile view adjustments */
@media (max-width: 59.99rem) {
    .hero-section {
        grid-template-areas:
            "img-section"
            "image-center"
            "content";
        grid-template-columns: 1fr;
    }

    .hero-section__img-section,
    .image-center-container {
        justify-content: center;
    }

    .hero-section__img-container,
    .image-center {
        max-width: 100%;
        width: 100%;
    }
}

/* Animation keyframes */
@keyframes fadeInFromTop {
    0% {
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }

    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
