<app-header></app-header>
<section id="banner"><app-banner></app-banner></section>
<!-- <section id="how-it-works"><app-how-it-works></app-how-it-works></section> -->
<section id="focus"><app-focus></app-focus></section>
<!-- <section id="portfolio"><app-portfolio></app-portfolio></section> -->
<section id="about"><app-about></app-about></section>
<!-- <section id="team"><app-team></app-team></section> -->
<section id="contact"><app-contact></app-contact></section>
<section id="footer"><app-footer></app-footer></section>