<app-header></app-header>
<section id="banner"><app-banner></app-banner></section>
<section id="how-it-works"><app-how-it-works></app-how-it-works></section>
<section id="home"><app-home></app-home></section>
<section id="focus"><app-focus></app-focus></section>
<section id="portfolio"><app-portfolio></app-portfolio></section>
<section id="about"><app-about></app-about></section>
<section id="contact"><app-contact></app-contact></section>
<section id="blog"><app-blog></app-blog></section>
<section id="footer"><app-footer></app-footer></section>