p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #005eeb;
}

a:hover {
  color: #ffb200;
}

.team-wrapper {
  margin-top: 50px;
}

.title{
    font-size: clamp(2rem, 3rem + 1.6vw, 4rem);
}

.container {
  max-width: var(--max-content-width);
  margin: auto;
  /* padding: 0 15px; */
  color: var(--clr-text-primary);
}

.text-center {
  text-align: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5%;
  margin-top: 100px;
}

.avatar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgba(170, 170, 173, 1);
  box-shadow: 0px 3px 10px 3px rgba(170, 170, 173, 0.5);
  object-fit: cover;
}

.team-col-inner {
  position: relative;
  border: 1px dashed #ddd;
  background: var(--clr-bg-secondary);
  padding-top: 90px; /* Adjusted for avatar positioning */
  min-height: 100px;
  z-index: 9;
}

.team-col {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 5rem;
}

.team-col:hover {
  transform: translateY(-30px);
  box-shadow: 0px 3px 10px 3px rgba(170, 170, 173, 0.5);
}

.team-col::before, .team-col::after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.team-col::before {
  right: 0;
  top: 0;
  background: linear-gradient(to left, var(--clr-accent), var(--clr-accent-dark));
  border-top-right-radius: 10px;
}

.team-col::after {
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, var(--clr-accent-dark), var(--clr-accent));
  border-bottom-left-radius: 10px;
}

.team-col:hover::before, .team-col:hover::after {
  width: 100%;
}

.member-name {
  margin-top: 20px; /* Adjusted for avatar spacing */
}

.member-info, .member-mail {
  padding: 10px 20px;
}

.social-listing {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social-listing li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #f4f5f7;
  border-radius: 50%;
  margin: 5px;
}
