<div class="team-wrapper">
  <div class="container">
    <h1 class="text-center title">Our Team</h1>
    <p class="text-center">Our team consists of passionate professionals committed to innovation and excellence. We work together to deliver outstanding results and create impactful solutions for our clients and partners.</p>
    <div class="team-grid">
      <div class="column">
        <div class="team-col">
          <div class="team-col-inner">
            <div class="avatar">
              <img src="assets/images/team/1.jpeg" alt="Felix D Davis" />
            </div>
            <div class="member-name">
              <h2 class="text-center">Felix D Davis</h2>
            </div>
            <div class="member-info">
              <p class="text-center">Computer Science & Economics</p>
            </div>
            <div class="member-mail">
              <p class="text-center">Dartmouth College</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="team-col">
          <div class="team-col-inner">
            <div class="avatar">
              <img src="assets/images/team/2.jpeg" alt="Felix D Davis" />
            </div>
            <div class="member-name">
              <h2 class="text-center">Felix D Davis</h2>
            </div>
            <div class="member-info">
              <p class="text-center">Computer Science & Economics</p>
            </div>
            <div class="member-mail">
              <p class="text-center">Dartmouth College</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="team-col">
          <div class="team-col-inner">
            <div class="avatar">
              <img src="assets/images/team/3.jpeg" alt="Felix D Davis" />
            </div>
            <div class="member-name">
              <h2 class="text-center">Felix D Davis</h2>
            </div>
            <div class="member-info">
              <p class="text-center">Computer Science & Economics</p>
            </div>
            <div class="member-mail">
              <p class="text-center">Dartmouth College</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="team-col">
          <div class="team-col-inner">
            <div class="avatar">
              <img src="assets/images/team/4.jpeg" alt="Felix D Davis" />
            </div>
            <div class="member-name">
              <h2 class="text-center">Felix D Davis</h2>
            </div>
            <div class="member-info">
              <p class="text-center">Computer Science & Economics</p>
            </div>
            <div class="member-mail">
              <p class="text-center">Dartmouth College</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="team-col">
          <div class="team-col-inner">
            <div class="avatar">
              <img src="assets/images/team/5.jpeg" alt="Felix D Davis" />
            </div>
            <div class="member-name">
              <h2 class="text-center">Felix D Davis</h2>
            </div>
            <div class="member-info">
              <p class="text-center">Computer Science & Economics</p>
            </div>
            <div class="member-mail">
              <p class="text-center">Dartmouth College</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
